<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicarial.nicarial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ingresos"
            android:label="Ingresos"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".MenuPrincipal"
            android:label="Menu Principal" />
        <activity
            android:name=".Settings"
            android:label="Configuración"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".Login"
            android:label="Inicio de Sesión" />
        <activity
            android:name=".DeduccionesActivity"
            android:label="Deducciones"
            android:parentActivityName=".Ingresos" />
        <activity
            android:name=".Usuarios"
            android:label="Usuarios"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".CalculadoraActivity"
            android:label="Calculadora"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".DonacionesActivity"
            android:label="Donaciones"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".ComprarActivity"
            android:label="Comprar Versión de Paga"
            android:parentActivityName=".MenuPrincipal" />
        <activity
            android:name=".AboutActivity"
            android:label="Acerca de la Aplicación"
            android:parentActivityName=".MenuPrincipal" />
    </application>

</manifest>