<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicarial.nicarial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Ingresos" />
        <activity
            android:name=".MenuPrincipal"
            android:label="Menu Principal" />
        <activity android:name=".Settings" />
        <activity android:name=".Login" />
        <activity android:name=".Deducciones" />
        <activity android:name=".Usuarios" />
        <activity android:name=".Calculadora" />
        <activity android:name=".Feedback" />
        <activity android:name=".Donaciones" />
        <activity android:name=".Comprar" />


    </application>

</manifest>